.form_row{
	margin-bottom:2rem;

	label{
		display:block;
		width:100%;
		margin-bottom:5px;
		color: $color_textGrey;
		font-size:0.83rem;
	}

	ul{
		list-style:none;
		padding:0;

		li{
			color:$color_errorRed;
		}
	}

	input{
		display:block;
		box-sizing: border-box;

		&[type="text"], &[type="email"], &[type="password"]{
			width:100%;
			margin-bottom:5px;
			padding:0.67rem 0.33rem;
			border-radius:0.25rem;
			border:2px solid $color_inputBorder;

			&:focus{
				border-color: lighten($color_interactiveGreen, 5);
			}
		}

		&[type="file"]{
			margin-bottom:5px;
			padding:0.67rem 0.33rem;
			border-top:1px solid $color_inputBorder;
			border-bottom:1px solid $color_inputBorder;
		}

		&[type="number"]{
			margin-bottom:5px;
			padding:0.67rem 0.33rem;
			border-radius:0.25rem;
			border:2px solid $color_inputBorder;

			&:focus{
				border-color: lighten($color_interactiveGreen, 5);
			}
		}

		&[type="checkbox"]{
			display:inline-block;

			& + label{
				display:inline-block;
				width:initial;
				font-size:1rem;
				margin-right:3rem;
			}
		}
	}

	select{
		display:block;
		box-sizing: border-box;
		margin-bottom:5px;
		padding:0.67rem 0.33rem;
		border-radius:0.25rem;
		border:2px solid $color_inputBorder;

		&:focus{
			border-color: lighten($color_interactiveGreen, 5);
		}
	}

	textarea{
		display:block;
		box-sizing:border-box;
		width:100%;
		max-width:50rem;
		min-height:6rem;
		margin-bottom:5px;
		padding:0.5rem;
		border-radius:0.25rem;
		border:2px solid $color_inputBorder;

		&:focus{
			border-color: lighten($color_interactiveGreen, 5);
		}
	}

	.help-text{
		margin-top:0;
		font-size:0.75rem;
		color:$color_textGrey;
	}
}
