html{
	font-size:$fontSize_default;
	font-family:$fontFamily_default;
}

body{
	font-size:1rem;
}

a{

	&.danger{
		color:$color_interactiveRed;
	}
}

button, a.button, input[type="submit"]{
	background-color: $color_interactiveGreen;
	color: #ffffff;
	text-transform:uppercase;
	text-align:center;
	display:inline-block;
	padding:0.83rem 1rem;
	border-radius:0.25rem;
	font-size:1rem;
	text-decoration:none;
	box-sizing:border-box;
	font-weight:bold;

	&:hover, &:active{
		background-color: $color_interactiveBlue;
		color:#ffffff;
	}

	&:focus{
		outline: lighten($color_interactiveBlue, 13) solid 2px;
	}

	&.danger{
		background-color:$color_interactiveRed;

		&:hover, &:active{
			background-color:darken($color_interactiveRed, 10);
		}
	}
}

.delete_actions{
	text-align:right;
}

.error{
	color: $color_errorRed;
}