body.login_page{
	background-color:$color_bgGreen;
	min-height:95vh;
	display:flex;
	flex-direction:column;
	justify-content:center;

	footer{
		color:#ffffff;
		font-size:0.75rem;
		width:85%;
		margin:3rem auto 0 auto;

		a{
			color:lighten($color_activeGreen, 25);
		}
	}
}

.login_form_wrapper{
	background-color:#ffffff;
	border-radius:0.75rem;
	padding:$padding_floatingContainer;
	margin:0 auto;
	width:67%;
	max-width:32rem;
	box-shadow:0 24px 36px rgba(0,0,0,0.38);

	button{
		display:block;
		width:100%;
	}

	.error{
		text-align:center;
		background-color:lighten($color_errorRed, 50);
		border:2px solid $color_errorRed;
		border-radius:0.25rem;
		margin-bottom:1rem;
		padding:0.5rem;
	}
}

.login_main_image{
	display:flex;
	flex-direction:column;
	flex-wrap:nowrap;
	align-content: center;
	justify-content: center;

	img{
		display:block;
		max-width:200px;
		height:auto;
		margin:10px auto;
		object-fit:contain;
	}
}