$color_bgGreen: #014A22;
$color_bgWhite: #f3f3f3;
$color_bgLightBlue: #F5F9FC;
$color_interactiveGreen: #417202;
$color_activeGreen: #739942;
$color_inputBorder: #CECED0;
$color_textGrey: #42454A;
$color_textLightGrey:#999999;
$color_interactiveBlue:#007FEB;
$color_interactiveRed:#F24033;


$fontSize_default: 16px;
$fontFamily_default: 'Montserrat', Arial, Helvetica, sans-serif;
$fontFamily_defaultHeading: 'Merriweather', Arial, Helvetica, sans-serif;

$padding_floatingContainer: 30px;